{% extends 'shop/base.html' %} {% load static %} {% block title %} {% if category %} {{ category.name }} {% else %} Products {% endif %} {% endblock title %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="product_list">
                <h1>{% if category %} {{ category.name }}{% else %}All Products{% endif %}</h1>
                <div class="row">
                    {% for product in products %}
                    <div class="col-lg-4 product">
                        <a href="{{ product.get_absolute_url }}">
                            <img class="thumbnail" src="{% if product.image %} {{ product.image.url }} {% else %} {% static "img/no_img.png" %} {% endif %}">
                        </a>
                        <div class="box-element product">
                            <h6><strong>{{ product.name }}</strong></h6>
                            <hr> {% comment %} <button class="btn btn-outline-secondary add-btn" href="{{ product.get_absolute_url }}">Add to Cart</button> {% endcomment %}
                            <a class="btn btn-outline-success" href="{{ product.get_absolute_url }}">View</a>
                            <h4 style="display:inline-block;float: right">{{ product.price }}</h4>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div style="text-align: center;margin: 35px; margin-top:35px;">
                <h5 style="margin:15px;font-weight:600;" class="text-center">Categories</h5>
                <div class="list-group">
                    <a href="{% url 'shop:product_list' %}" class="list-group-item list-group-item-action {% if not category %} active {% endif %}" aria-current="true">
                        All Products
                    </a> {% for c in categories %}
                    <a href="{{ c.get_absolute_url }}" class="list-group-item list-group-item-action {% if category.slug == c.slug %} active {% endif %}">{{ c.name }}</a> {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}